.app.dark {
  --bg-color: #080857;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #126412;
  --secondary-color: #0cc50c;

  --inverted-primary-color: #000096;
  --inverted-secondary-color: #0000e8;
}